body
{
    color:            #f1f1f1;
    background-color: #1f2128;
}

/* Conteudo da página HOME */

.container
{
    margin-top:    20px;
    margin-bottom: 20px;

}

.box-login
{
    color:            #f1f1f1;
    background-color: #2a2c32;
    box-shadow: 0px 0px 20px -10px #000;
    border-radius: 8px;
    padding:       20px; 
}
