<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../Public/css/home.css" rel="stylesheet">
</head>
<body>
    <h1> Sobre o espaço </h1>

    <div class='box'>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Accusamus quidem harum soluta eveniet laudantium, 
           sapiente amet obcaecati expedita officia dicta saepe cumque aperiam
           tempora placeat fuga neque eius consequuntur rem.
        </p>
    </div>
    
</body>
</html>

<!-- {{id}}

<h1>Pagina: {{page}}</h1>
<hr>
    <h2>
        Descrição: {{description}}
    </h2>
{{about}}
    <h3>
        <a href="{{URL}}/login"><button class="btn btn-light">Login</button></a>
    </h3>
     -->