<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../Public/css/login.css" rel="stylesheet">
</head>
<body>
    <h1>{{page}}</h1>

    <div class='box-login'>
        <form method="POST">
            <input type="text"     name="usuario" placeholder="Nome..."><br>
            <input type="password" name="senha" placeholder="Senha..."><br>
            <button type="submit">Logar</button>
        </form>
    </div>
    
</body>
</html>

<!-- {{id}}

<h1>Pagina: {{page}}</h1>
<hr>
    <h2>
        Descrição: {{description}}
    </h2>
{{about}}
    <h3>
        <a href="{{URL}}/login"><button class="btn btn-light">Login</button></a>
    </h3>
     -->


<!-- {{id}}

<h1>Pagina: {{page}}</h1>
<hr>
<h2>Descrição: {{description}}</h2> -->
